.courses__section {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    gap: 2em;
}

.courses__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.courses__title {
    text-transform: uppercase;
}