#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 100%;
}

.wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

body {
  flex-grow: 1;
}